<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhhl.marketauthority">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".CameraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
    android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity"/>
        <activity android:name=".activity.BacklogActivity"/>
        <activity android:name=".activity.CertificationActivity"/>
        <activity android:name=".CameraActivity"/>
        <activity android:name=".activity.backlog.ApplyCompanyActivity"/>
        <activity android:name=".activity.backlog.ApplyUnitResouse"/>
        <activity android:name=".activity.backlog.ManageStaff"/>
        <activity android:name=".activity.backlog.DepartmentsActivity"/>
        <activity android:name=".activity.backlog.InspectDeviceActivity"/>
        <activity android:name=".activity.backlog.ProduceActivity"/>
        <activity android:name=".activity.backlog.SubcontractActivity"/>
        <activity android:name=".activity.backlog.PramaryDeviceActivity"/>
        <activity android:name=".activity.backlog.SelfCheckDeviceActivity"/>
        <activity android:name=".activity.backlog.ApplyCategoryActivity"/>
    </application>

</manifest>