<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhhl.marketauthority">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".CameraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.TSMainActivity"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".activity.BacklogActivity" />
        <activity android:name=".activity.CertificationActivity" />
        <activity android:name="com.czy.commonlib.activity.CameraActivity" />
        <activity android:name=".activity.backlog.ApplyCompanyActivity" />
        <activity android:name=".activity.backlog.ApplyUnitResouse" />
        <activity android:name=".activity.backlog.ManageStaffActivity" />
        <activity android:name=".activity.backlog.DepartmentsActivity" />
        <activity android:name=".activity.backlog.InspectDeviceActivity" />
        <activity android:name=".activity.backlog.ProduceActivity" />
        <activity android:name=".activity.backlog.SubcontractActivity" />
        <activity android:name=".activity.backlog.PramaryDeviceActivity" />
        <activity android:name=".activity.backlog.SelfCheckDeviceActivity" />
        <activity android:name=".activity.backlog.ApplyAllowActivity" />
        <activity android:name=".activity.backlog.ApproveActivity" />
        <activity android:name=".activity.backloglist.ApplyAllowListActivity" />
        <activity android:name=".activity.backloglist.InspectDeviceListActivity" />
        <activity android:name=".activity.backloglist.ManageStaffListActivity" />
        <activity android:name=".activity.backloglist.PramaryDeviceListActivity" />
        <activity android:name=".activity.backloglist.ProduceListActivity" />
        <activity android:name=".activity.backloglist.SelfCheckDeviceListActivity" />
        <activity android:name=".activity.backloglist.SubcontractListActivity" />
        <activity android:name=".activity.backloglist.CertificationListActivity" />
        <activity android:name=".media.VideoPreviewActivity"></activity>
        <activity android:name=".media.PicturePreviewActivity"></activity>
        <activity android:name=".activity.ReviewActvity"></activity>
        <!--        <activity android:name=".activity.LoginActivity"-->
        <activity android:name=".activity.ChoseModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PreviewReport"></activity>

        <activity android:name=".photo.PhotoCaptureActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>